pyrogram
pyrofork==2.3.45
tgcrypto
flask
moviepy
aiogram
pytz
Pillow==9.1.1
requests==2.31.0
urllib3==2.0.3
ffmpeg-python
ffmpeg
motor
beautifulsoup4
mutagen
pyDes
matplotlib
asyncpg
werkzeug==2.0.2
itsdangerous==2.0.1
umongo==3.0.1
